.cartConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2; /* gris claro */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    margin: auto; /* Esto ayuda a centrar también en el eje horizontal */
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 17rem auto;
}
.pelado{
    font-size: 2rem;
    font-weight: bolder;
    color: orange;
    text-align: center;
    margin-bottom: 3rem;
}

.cart-total {
    font-size: 2rem;
    font-weight: bold;
    color:green;
    margin: 1rem auto 2rem auto;
}

.Button.btn.btn-sm.Limpiar {
    font-size: 0.76rem;
    font-weight: bolder;
    transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease; /* Actualizado para incluir transform */
    margin: 1rem auto auto 90%;
    color: red;
    background-color: lightgrey;
    transform-origin: center; /* Asegura que la transformación sea con respecto al centro */
    transform: scale(1); /* Escala inicial */
}

.Button.btn.btn-sm.Limpiar:hover {
    color: white;
    font-weight: 100;
    background-color: red;
    transform: scale(0.5); /* Escala reducida cuando se pasa el mouse por encima */
}


.Button.btn.btn.btn-sm.Checkout {
    font-size: 0.75rem; /* Tamaño de fuente inicial */
    font-weight: bolder; /* Peso de la fuente normal */
    transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease; /* Transición suave para los cambios */
    margin-bottom: 1rem;
    color: white;
    background-color: orange;
}

.Button.btn.btn.btn-sm.Checkout:hover {
    color: white; /* Cambio de color cuando el mouse está sobre el botón */
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    background-color:green;
}