.cartConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2; /* gris claro */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    margin: auto; /* Esto ayuda a centrar también en el eje horizontal */
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.cart-total {
    font-size: 20px;
    font-weight: bold;
    color:blue;
    margin-top: 20px;
}

.Button{
    background-color: red;
    margin-bottom: 1rem;
}

.checkout-button {
    background-color: #ff7f50; /* naranja */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%; /* Opcional: para que los botones ocupen todo el ancho */
}

.cart-button:hover, .checkout-button:hover {
    background-color: #e6734d; /* un tono más oscuro de naranja */
}

.checkout-button {
    display: block;
    width: 100%;
    text-align: center;
}