.cartConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
}

.bodyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://img.freepik.com/free-photo/delicious-cinnamon-rolls-with-copy-space_23-2148779698.jpg?w=1380&t=st=1699993106~exp=1699993706~hmac=cae17df5c7ffd81b6a160505031bc19a7d1f81506cc0624b3cf2471494ca53bb');
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 17rem auto;
}
.pelado{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.cart-total {
    font-size: 2rem;
    font-weight: bold;
    color:green;
    margin: 1rem auto 2rem auto;
}

.Button.btn.btn-sm.Limpiar {
    font-size: 0.76rem;
    font-weight: bolder;
    transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease; /* Actualizado para incluir transform */
    margin: 1rem auto auto 90%;
    color: red;
    background-color: lightgrey;
    transform-origin: center; /* Asegura que la transformación sea con respecto al centro */
    transform: scale(1); /* Escala inicial */
}

.Button.btn.btn-sm.Limpiar:hover {
    color: white;
    font-weight: 100;
    background-color: red;
    transform: scale(0.5); /* Escala reducida cuando se pasa el mouse por encima */
}


.Button.btn.btn.btn-sm.Checkout {
    font-size: 0.75rem; /* Tamaño de fuente inicial */
    font-weight: bolder; /* Peso de la fuente normal */
    transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease; /* Transición suave para los cambios */
    margin-bottom: 1rem;
    color: white;
    background-color: orange;
}

.Button.btn.btn.btn-sm.Checkout:hover {
    color: white; /* Cambio de color cuando el mouse está sobre el botón */
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    background-color:green;
}