.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem; /* Ajuste este padding según sea necesario */
}

.navbar h3 {
    font-size: 2rem;
    margin: 0; /* Asegura que el h3 esté en el margen izquierdo */
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem; /* Ajusta este valor para cambiar el espacio entre NavLink */
    margin: 0 auto;
}

/* Estilos para NavLink aquí, si es necesario */

.CartWidget {
    margin-left: auto; /* Alinea CartWidget a la derecha */
}
