.contact-container {
    background-image:url(https://img.freepik.com/free-photo/delicious-cinnamon-rolls-with-copy-space_23-2148779698.jpg?w=1380&t=st=1700000693~exp=1700001293~hmac=021986db8aa22dd4d4c1835467081e38694e3a9dec01f8213df8aa92aef470d6);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    max-width: 100vw;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horario, .delivery {
    width: 35rem;
}
.subTitle {
    font-size: 3rem;
    text-align: center;
    color: orange;
    font-weight: bolder;
    margin: 5rem auto;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.contact-section {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 165, 0, 1); /* Sombra naranja */
    background-color: rgba(248, 248, 248, 0.9); /* Fondo 50% transparente */
    border-radius: 5rem;
    text-align: center;
    flex-basis: calc(33% - 20px); /* Ajusta el ancho para 3 columnas */
}

.contact-section .subSubtitle {
    color: orange;
    margin-bottom: 10px;
}

.contact-section .parrafoContacto {
    color: #000;
    font-weight: bold;
    line-height: 1.6;
}

@media (max-width: 1024px) {
    .contact-section {
        flex-basis: calc(50% - 20px); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .contact-section {
        flex-basis: 80%; /* 1 columna en pantallas pequeñas */
        margin-bottom: 20px;
    }
}