.container{
  margin: 18% auto;
}
h1{
  font-size: 8rem;
  letter-spacing: 1rem;
  color: orange;
}

.itemCount {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-block: 0.5rem;
  align-content: center;
  justify-content: center;
  color: orange;
}

.CardContent {
  display: flex;
  flex-direction: row;
}