.counter {
    width: 7.9rem;
    text-align: center;
}
.controls {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.5rem auto;
}
.btn {
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
}